<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>음식점 상세</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">


    <link rel="stylesheet" type="text/css" th:href="@{/css/eat.css}">
    <!--    <link href="../../static/css/eat.css" rel="stylesheet">-->
</head>

<body th:replace="~{layout :: layout}">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
</script>


<div th:fragment="content" class="container py-3">
    <!-- ----------------------------------------------------------------- -->
    <!-- content 넣으실 부분 -->
    <!-- footer 하단 고정 때문에 content는 다 wrapper안에 넣음 -->
    <div id='wrapper'>
        <div class="container">
            <img th:src="@{/img/banner_mini.jpg}" alt="배너" class="image">
        </div>

        <div class="title">
            <h1>내 위치 확인</h1>
        </div>


        <div id='location-wrapper'>
            <div class="kakao-api">
                카카오 API가 삽입될 곳
            </div>

            <div class="location-container">
                <button type="submit" class="location-button">위치확인</button>
                <input type="text" placeholder="배달 받으실 주소를 검색하세요" class="search-box">
                <button type="submit" class="search-button">검색</button>
            </div>
        </div>
    </div>




    <!-- ----------------------------------------------------------------- -->
</div>




<!-- 한글/영어 변환 시 글자가 세로로 표시되는 이슈로 인해 script 코드 추가 -->
<script>
    window.addEventListener('DOMContentLoaded', function () {
        const navLinks = document.querySelectorAll('.nav-link, .btn');

        // 각 링크 요소에 대해 반복하여 스타일을 동적으로 조정
        navLinks.forEach(function (link) {
            // 글자 크기에 따라 가로폭 조정
            const fontSize = parseFloat(window.getComputedStyle(link)
                .fontSize); // 현재 글자 크기
            const textLength = link.textContent.length; // 텍스트 길이

            // 가로폭 조정
            const dynamicWidth = fontSize * textLength + 40; // 글자 크기 * 글자 수 + 여백
            link.style.width = dynamicWidth + 'px';
        });
    });
</script>
</body>


</html>