<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<form id="addItemForm" class="modal" th:action="@{/cart/{shopId}/add (shopId=${shop.shopId})}"
      th:object="${shop}" th:method="post">
    <input th:type="hidden" name="itemId" th:value="${item.id}"/>
    <input th:type="hidden" th:id="shopId" th:value="${shop.shopId}">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">메뉴상세
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <img th:src="${item.itemUrl}"></img>
                <div th:text="${item.itemName}">메뉴이름</div>
                <div th:text="${item.itemDescription}">메뉴설명</div>
                <div th:text="|${item.itemPrice}원|">가격</div>

                <div>필수 옵션</div>
                <div class="form-check" th:each="itemOption, iterStat : ${itemOptions}">
                    <input class="form-check-input" type="radio" name="itemOptionId"
                           th:id="${itemOption.id}" th:value="${itemOption.id}"
                           th:attr="checked=${iterStat.index == 0 ? 'checked' : null}">
                    <label class="form-check-label" th:for="${itemOption.id}"
                           th:text="${itemOption.content}">
                        Default radio
                    </label>
                </div>
                <div>
                    <label for="quantity">Quantity:</label>
                    <input type="number" value="1" id="quantity" name="quantity" min="1"/>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">장바구니추가</button>
                <button type="button" class="btn btn-secondary" id="orderDirect">주문하기</button>
            </div>
        </div>
    </div>
</form>