<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">


    <!-- Custom styles for this template -->
    <link th:href="@{../static/eat.css}"
          href="../static/eat.css" rel="stylesheet">
</head>

<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
</script>


<div class="container py-3">
    <div th:replace="header :: header"></div>


    <!-- ----------------------------------------------------------------- -->
    <!-- content 넣으실 부분 -->

    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>사진</th>
                <th>음식점명</th>
                <th>배달상태</th>
                <th>주문날짜</th>
                <th>주문음식</th>

                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${orders}">
                <td th:text="${order.getShop().getShopThum()}"></td>
                <td th:text="${order.shop.shopName}"></td>
                <td th:text="${order.orderType}"></td>
                <td th:text="${order.orderDate}"></td>
                <div th:each="orderItem:${order.getOrderItems()}">
                    <td th:text="${orderItem.getItem().itemName}"></td>
                </div>
                <td>
                    <button type="button" class="btn btn-primary" th:onclick="'location.href=\'/orders/' + ${order.id} + '\''">주문상세</button>
                    <button type="button" class="btn btn-primary" th:onclick="'location.href=\'/orders/' + ${order.id} + '/delivery\''">배송조회</button>
                    <button type="button" class="btn btn-primary" th:onclick="'location.href=\'/orders/' + ${order.id} + '/cancel\''">주문취소</button>
                    <button type="button" class="btn btn-primary" th:onclick="'location.href=\'/reivew/' + ${order.shop.id} + '\''">리뷰작성</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>







    <!-- ----------------------------------------------------------------- -->



    <div th:replace="footer :: footer"></div>


    <!-- 한글/영어 변환 시 글자가 세로로 표시되는 이슈로 인해 script 코드 추가 -->
    <script>
        window.addEventListener('DOMContentLoaded', function () {
            const navLinks = document.querySelectorAll('.nav-link, .btn');

            // 각 링크 요소에 대해 반복하여 스타일을 동적으로 조정
            navLinks.forEach(function (link) {
                // 글자 크기에 따라 가로폭 조정
                const fontSize = parseFloat(window.getComputedStyle(link).fontSize); // 현재 글자 크기
                const textLength = link.textContent.length; // 텍스트 길이

                // 가로폭 조정
                const dynamicWidth = fontSize * textLength + 40; // 글자 크기 * 글자 수 + 여백
                link.style.width = dynamicWidth + 'px';
            });
        });
        window.onload = function() {
            var message = '[[${message}]]';
            console.log("Received message: " + message);  // 메시지 로깅
            if (message) {
                alert(message);
            }else{
                console.log("aaaa")
            }
        };
    </script>
</body>


</html>