<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>음식점 상세</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">


    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/eat.css}">
<!--    <link href="../../static/css/eat.css" rel="stylesheet">-->
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>


    <div class="container py-3">
        <!-- header -->
        <header>

            <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4">
                <a th:href="@{main}" class="logo d-flex link-body-emphasis text-decoration-none">
                    <img th:src="@{/img/logo.png}" alt="로고" width="30%" height="auto">
                </a>

                <nav class="navbar navbar-expand-lg">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav">
                                <a class="nav-link" th:href="@{login}">로그인</a>
                                <button type="button" class="btn btn-primary"
                                        th:onclick="|location.href='@{mypage}'|">마이페이지</button>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>




        <!-- ----------------------------------------------------------------- -->
        <!-- content 넣으실 부분 -->
        <!-- footer 하단 고정 때문에 content는 다 wrapper안에 넣음 -->
        <div id='wrapper'>
            <div class="container">
                <img th:src="@{/img/banner_mini.jpg}" alt="배너" class="image">
            </div>

            <div class="title shop-title-container">
                <p class="shop-title">음식점 이름</p>
            </div>


            <!-- 왼쪽 -->
            <div class="shop-menu-container">
                <div class="container text-center">
                    <div class="shop-detail-container">
                        <img th:src="@{/img/shop.jpg}" alt="배너" class="shop-image">
                        <div>
                            <div class="star-score-container">
                                <img th:src="@{/img/5star.png}" alt="배너" class="star-score">
                                <span>5.0</span>
                            </div>
                            <p class="red-text">25,500원 이상 주문 시 할인</p>
                            <p class="grey-text">최소 주문금액 12,000원</p>
                            <p class="grey-text">2000원 할인</p>
                            <p class="red-text">결제 신용카드, 현금</p>
                        </div>


                    </div>


                    <nav class="nav nav-justified nav-menu">
                        <a class="nav-link active" aria-current="page" th:href="@{shop_detail}">
                            <span>메뉴</span>
                            <span>115</span>
                        </a>
                        <a class="nav-link list-link" th:href="@{shop_review}">
                            <span>리뷰</span>
                            <span>672</span>
                        </a>
                    </nav>
                    <p class="shop-menu">대표 메뉴</p>
                    <div class="shop-detail-row">
                        <div class="row">
                            <div class="col">
                                <div class="card" onclick="goSomewhere()">
                                    <img th:src="@{/img/whole.jpg}" class="card-img-top" alt="...">

                                    <div class="card-body">
                                        <h5 class="menu-title">세트 A</h5>
                                        <p class="menu-price">15,000원</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card" onclick="goSomewhere()">
                                    <img th:src="@{/img/chicken.jpg}" class="card-img-top" alt="...">

                                    <div class="card-body">
                                        <h5 class="menu-title">세트 A</h5>
                                        <p class="menu-price">15,000원</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card" onclick="goSomewhere()">
                                    <img th:src="@{/img/pizza.jpg}" class="card-img-top" alt="...">

                                    <div class="card-body">
                                        <h5 class="menu-title">세트 A</h5>
                                        <p class="menu-price">15,000원</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card" onclick="goSomewhere()">
                                    <img th:src="@{/img/pizza.jpg}" class="card-img-top" alt="...">

                                    <div class="card-body">
                                        <h5 class="menu-title">세트 A</h5>
                                        <p class="menu-price">15,000원</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <p class="shop-menu">단품 메뉴</p>
                    <div class="shop-detail-row">
                        <div class="row">
                            <div class="col">
                                <div class="card" onclick="goSomewhere()">
                                    <img th:src="@{/img/whole.jpg}" class="card-img-top" alt="...">

                                    <div class="card-body">
                                        <h5 class="menu-title">세트 A</h5>
                                        <p class="menu-price">15,000원</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card" onclick="goSomewhere()">
                                    <img th:src="@{/img/chicken.jpg}" class="card-img-top" alt="...">

                                    <div class="card-body">
                                        <h5 class="menu-title">세트 A</h5>
                                        <p class="menu-price">15,000원</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card" onclick="goSomewhere()">
                                    <img th:src="@{/img/pizza.jpg}" class="card-img-top" alt="...">

                                    <div class="card-body">
                                        <h5 class="menu-title">세트 A</h5>
                                        <p class="menu-price">15,000원</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card" onclick="goSomewhere()">
                                    <img th:src="@{/img/pizza.jpg}" class="card-img-top" alt="...">

                                    <div class="card-body">
                                        <h5 class="menu-title">세트 A</h5>
                                        <p class="menu-price">15,000원</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <p class="shop-menu">세트 메뉴</p>
                    <div class="shop-detail-row">
                        <div class="row">
                            <div class="col">
                                <div class="card" onclick="goSomewhere()">
                                    <img th:src="@{/img/whole.jpg}" class="card-img-top" alt="...">

                                    <div class="card-body">
                                        <h5 class="menu-title">세트 A</h5>
                                        <p class="menu-price">15,000원</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card" onclick="goSomewhere()">
                                    <img th:src="@{/img/chicken.jpg}" class="card-img-top" alt="...">

                                    <div class="card-body">
                                        <h5 class="menu-title">세트 A</h5>
                                        <p class="menu-price">15,000원</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card" onclick="goSomewhere()">
                                    <img th:src="@{/img/pizza.jpg}" class="card-img-top" alt="...">

                                    <div class="card-body">
                                        <h5 class="menu-title">세트 A</h5>
                                        <p class="menu-price">15,000원</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card" onclick="goSomewhere()">
                                    <img th:src="@{/img/pizza.jpg}" class="card-img-top" alt="...">

                                    <div class="card-body">
                                        <h5 class="menu-title">세트 A</h5>
                                        <p class="menu-price">15,000원</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 오른쪽 -->
                <div class="right-container">
                    <p class="shop-menu">장바구니</p>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <div class="cart-card" onclick="goSomewhere()">
                                <img th:src="@{/img/whole.jpg}" alt="세트A" class="shop">
                                <div class="card-body">
                                    <h4 class="menu-title">세트 A</h4>
                                    <h4 class="cart-price">15,000원</h4>
                                </div>
                                <div class="quantity">
                                    <button class="quantity-button minus">-</button>
                                    <span class="quantity-number">1</span>
                                    <button class="quantity-button plus">+</button>
                                </div>
                                <button class="remove-button">삭제</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="cart-card" onclick="goSomewhere()">
                                <img th:src="@{/img/chicken.jpg}" alt="세트A" class="shop">
                                <div class="card-body">
                                    <h4 class="menu-title">세트 A</h4>
                                    <h4 class="cart-price">15,000원</h4>
                                </div>
                                <div class="quantity">
                                    <button class="quantity-button minus">-</button>
                                    <span class="quantity-number">1</span>
                                    <button class="quantity-button plus">+</button>
                                </div>
                                <button class="remove-button">삭제</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="cart-card" onclick="goSomewhere()">
                                <img th:src="@{/img/pizza.jpg}" alt="세트A" class="shop">
                                <div class="card-body">
                                    <h4 class="menu-title">세트 A</h4>
                                    <h4 class="cart-price">15,000원</h4>
                                </div>
                                <div class="quantity">
                                    <button class="quantity-button minus">-</button>
                                    <span class="quantity-number">1</span>
                                    <button class="quantity-button plus">+</button>
                                </div>
                                <button class="remove-button">삭제</button>
                            </div>
                        </div>
                    </div>

                    <!-- 합계 -->
                    <div class="cart-total">
                        <div class="deliver">
                            <span class="deliver-left">배달요금</span><span class="deliver-right">3,500원</span>
                        </div>
                        <div class="total">
                            <span class="total-left">합계</span><span class="total-right">3500원</span>
                        </div>
                        <div class="total-button">
                            <div class="order-btn">
                                <button type="button" class="btn btn-primary">주문하기</button>
                            </div>

                            <div class="cancel-btn">
                                <button type="button" class="btn btn-secondary">취소하기</button>
                            </div>


                        </div>


                    </div>
                </div>

            </div>

        </div>




        <!-- ----------------------------------------------------------------- -->


        <!-- footer -->
        <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                <p class="col-md-4 mb-0 text-muted">&copy; 2024 먹고해</p>

                <img th:src="@{/img/logo.png}" alt="로고" width="15%" height="auto">

                <ul class="nav col-md-4 justify-content-end">
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">사장님페이지</a></li>
                </ul>
            </footer>
        </div>
    </div>




    <!-- 수량 변경 -->
    <script>
        // 모든 minus 버튼에 대해 이벤트 리스너 추가
        document.querySelectorAll('.minus').forEach(function (button) {
            button.addEventListener('click', function () {
                var quantityNumber = button.nextElementSibling;
                var currentQuantity = parseInt(quantityNumber.textContent);
                if (currentQuantity > 1) {
                    quantityNumber.textContent = currentQuantity - 1;
                }
            });
        });

        // 모든 plus 버튼에 대해 이벤트 리스너 추가
        document.querySelectorAll('.plus').forEach(function (button) {
            button.addEventListener('click', function () {
                var quantityNumber = button.previousElementSibling;
                var currentQuantity = parseInt(quantityNumber.textContent);
                quantityNumber.textContent = currentQuantity + 1;
            });
        });
    </script>

    <!-- 총계 -->
    <script>
        // 페이지가 로드될 때 실행되는 함수
        window.addEventListener('DOMContentLoaded', function () {
            // 각 제품의 가격을 가져와서 총 가격을 계산하기 위한 변수 초기화
            var totalPrice = 0;

            // 모든 카트 카드 요소를 가져옴
            var cartCards = document.querySelectorAll('.cart-card');
            // 각 카트 카드 요소에 대해 반복
            cartCards.forEach(function (cartCard) {
                // 가격 요소를 가져와서 쉼표(,) 제거하고 숫자로 변환하여 가격에 추가
                var priceElement = cartCard.querySelector('.cart-price');
                var price = parseInt(priceElement.textContent.replace(',', '').replace('원', ''));
                totalPrice += price;
            });

            // 배달 요금을 가져와서 총 가격에 추가
            var deliverRight = document.querySelector('.deliver-right');
            var deliveryFee = parseInt(deliverRight.textContent.replace(',', '').replace('원', ''));
            totalPrice += deliveryFee;

            // 합계를 표시할 요소를 가져옴
            var totalRight = document.querySelector('.total-right');
            // 합계를 표시
            totalRight.textContent = totalPrice.toLocaleString() + '원';
        });
    </script>





    <!-- 한글/영어 변환 시 글자가 세로로 표시되는 이슈로 인해 script 코드 추가 -->
    <script>
        window.addEventListener('DOMContentLoaded', function () {
            const navLinks = document.querySelectorAll('.nav-link, .btn');

            // 각 링크 요소에 대해 반복하여 스타일을 동적으로 조정
            navLinks.forEach(function (link) {
                // 글자 크기에 따라 가로폭 조정
                const fontSize = parseFloat(window.getComputedStyle(link)
                    .fontSize); // 현재 글자 크기
                const textLength = link.textContent.length; // 텍스트 길이

                // 가로폭 조정
                const dynamicWidth = fontSize * textLength + 40; // 글자 크기 * 글자 수 + 여백
                link.style.width = dynamicWidth + 'px';
            });
        });
    </script>
</body>


</html>